a {
    text-decoration-color: none;
}

.menu {
    color: cornflowerblue;
    font-size: 16px;
    line-height: 20px;
}

.ti {
    color: #222222;
    font-size: 28px;
    line-height: 36px;
    font-weight: bold;
}

.text {
    font-style: normal;
    font-weight: 300;
    font-size: 18px;
    line-height: 30px;
    color: #7D7987
}

.coral {
    color: coral;
    font-style: normal;
    font-weight: 700;
    font-size: 36px;
    line-height: 80px;
}

.aboutUs {
    width: 1174px;
    height: 507px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin: 373px 100px 373px 100px;
}